@use '../abstracts' as *;

body {
	background-color: $c-background-color;
}

article {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

html,
button {
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  border: 0;
}