*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input,
label,
button,
textarea,
select,
optgroup {
	font: inherit;
	color: inherit;
}

a, a[href], a:visited {
	color: inherit;
	text-decoration: none;
}

ul, ol {
	list-style-type: none;
	width: 100%;
	height: 100%;
}

#root, #__next {
	isolation: isolate;
}