@use "./variables" as v;
@use "./mixins" as m;

%container {
  width: calc(100% - 3rem);
  max-width: 144rem;
  margin: 0 auto;

  @include m.respond-to("large") {
    width: calc(100% - 5rem);
  }
}

%page-container {
  width: 90%;
  max-width: 102.4rem;
  margin: 3rem auto 10rem;

  @include m.respond-to("large") {
    width: calc(70%);
  }
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

%section-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: v.$text-xxl;
  @extend %text-overflow;
}

//! Form Controls
%dropdown-menu {
  position: absolute;
  z-index: 1000;
  width: 100%;
  border: 0.1rem solid v.$c-control-gray;
  border-top: none;
  font-size: v.$text-sm;
  max-height: 20rem;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  opacity: 1;
  transition: height 0s 0.6s, opacity 0.6s v.$timing-func-ui;

  &--collapsed {
    height: 0rem;
    opacity: 0;
    border-bottom: none;
  }
}

%dropdown-option {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;

  &:focus,
  &:hover,
  &.focused {
    background-color: #f3f3f3;
  }

  &:active {
    background-color: #ccc;
  }
}

%form-label {
  width: 100%;
  height: 100%;

  &-text {
    font-weight: 400;
    font-size: v.$text-sm;
    display: block;
    margin-bottom: 0.5rem;
  }

  &-asterisk {
    color: v.$c-text-red;
  }
}

%text-input-field {
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: v.$text-sm;
  display: block;
  margin: 0;
  padding: 0 1rem;
  padding-right: 3rem;
  outline: none;
  border: 0.1rem solid v.$c-control-gray;
  transition: border-color 0.3s v.$timing-func-ui;

  &:focus {
    border-color: v.$c-control-black;
  }
}

%text-input-icon {
  border-color: v.$c-control-black;
  position: absolute;
  top: 0.1rem;
  bottom: 0.1rem;
  right: 0.1rem;
  width: 3rem;
  font-size: 1.8rem;
  text-align: center;
}

%form-button {
  padding: 0.5rem 2rem;
  background-color: v.$c-background-black;
  color: #fff;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  font-size: v.$text-md;
  transition: background-color 0.3s v.$timing-func-ui;

  &:hover,
  &:focus-visible {
    background-color: mix(v.$c-background-black, #fff, 85%);
  }
}