$c-background-color: #eeeeee;
$c-background-dark: #020201;
$c-background-black: #0e0e0e;
$c-red: #ff4444;
$c-gray: #dbdbdb;
$c-link: #0368da;
$c-text-gray: #aeaeae;
$c-text-light: #ccc;
$c-text-dark: #5b5b5b;
$c-text-black: #1b1b1b;
$c-text-red: #e91313;

$text-xs: 1.28rem;
$text-sm: 1.44rem;
$text-md: 1.728rem;
$text-lg: 2.07rem;
$text-xl: 3.8rem;

$announcement-height: 3.5rem;
$header-height: 6.5rem;
$section-padding-v: 5rem;

$breakpoints: (
  'small':  ( min-width:  576px ),
  'medium': ( min-width:  768px ),
  'large':  ( min-width: 992px ),
  'x-large':  ( min-width: 1200px )
) !default;