$c-background-color: #eeeeee;
$c-background-dark: #020201;
$c-background-black: #0e0e0e;
$c-red: #ff4444;
$c-gray: #dbdbdb;
$c-link: #0368da;
$c-text-gray: #888;
$c-text-light: #ddd;
$c-text-dark: #5e5e5e;
$c-text-black: #1b1b1b;
$c-text-red: #e91313;

$text-xs: 1.2rem;
$text-sm: 1.44rem;
$text-md: 1.728rem;
$text-lg: 2.07rem;
$text-xl: 3.2rem;