@use "../abstracts" as *;

.not-found {
  text-align: center;
  padding: 10rem 0;
  background-color: #fff;

  &__title {
    font-size: 18vw;
    font-weight: 900;
    width: 50%;
    margin: auto;
    position: relative;
  }

  &__sub-title {
    font-size: $text-xxl;
    text-transform: uppercase;
  }

  &__text {
    font-size: $text-md;
    color: $c-text-dark;
    margin-bottom: 5rem;
    font-weight: 400;
  }

  &__image {
    mix-blend-mode: lighten;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.4);
    }
  }

  &__link {
    @extend %form-button;

    &[href] {
      color: #fff;
    }
  }
}
