@use "../abstracts" as *;

.not-found {
  text-align: center;
  padding: 10rem 0;
  background-color: #fff;

  &__title {
    font-size: 16vw;
    font-weight: 700;
    position: relative;
  }

  &__sub-title {
    font-size: $text-xxl;
    text-transform: uppercase;
  }

  &__text {
    font-size: $text-md;
    color: $c-text-dark;
    margin-bottom: 5rem;
  }

  &__image {
    mix-blend-mode: lighten;
  }

  &__link {
    @extend %form-button;

    &[href] {
      color: #fff;
    }
  }
}
