@use "../abstracts" as *;

.profile {
  @extend %page-container;

  &__main-heading {
    font-size: $text-xl;
  }

  &__heading {
    margin-top: 3rem;
    font-size: $text-lg;
  }

  &__name-input,
  &__address-input {
    width: calc(50% - 0.75rem);
    float: left;

    &:nth-child(2n) {
      float: right;
    }
  }
}
