@use "../abstracts" as *;

.product-page__wrapper {
  @extend %container;
}

.product-view {
  $self: &;

  @extend %container;
  padding-top: 3rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);

  &__cart {
    grid-column: 1 / 13;
    font-size: $text-md;

    @include respond-to("medium") {
      grid-column: 8 / 13;
    }
  }

  &__share-button {
    @extend %round-button;
  }

  &__name {
    font-size: $text-xl;
  }

  &__gender {
    text-transform: uppercase;
    font-size: $text-sm;
    font-weight: bold;
  }

  &__ratings,
  &__price {
    margin-top: 2rem;
  }

  &__price {
    font-size: $text-lg;
    font-weight: 600;
  }
}

.related-products {
  @extend %container;
  padding: $section-padding-v 0 6rem 0;

  &__heading {
    @extend %section-heading;
    color: $c-text-black;
  }
}
