@use "../abstracts" as *;

.breadcrumb {
  min-height: 3rem;
  line-height: 3rem;

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    color: $c-text-dark;
    font-weight: 400;
    font-size: $text-sm;

    &-item {
      margin-right: 1rem;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &-separator {
      user-select: none;
      margin-right: 0.2rem;
    }
  }

  &__link {
    @include link-hover($c-text-gray);

    &--root {
      @include link-hover($c-text-black);
      color: $c-text-black !important;
    }
  }
}
