@use "../abstracts" as *;

.carousel {
  $self: &;

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 45%;

  &__container {
    position: absolute;
    height: 100%;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);// $timing-func-ui;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    will-change: transform;
  }

  &__control--hidden {
    opacity: 0;
  }

  &__slide {
  }
}
