@use "../abstracts" as *;

.cart {
  $self: &;

  width: 100%;
  @extend %full-size;
  position: fixed;
  z-index: 100;

  &__backdrop {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s $timing-func-ui;

    #{$self}.active & {
      background-color: $c-backdrop;
    }
  }

  &__container {
    position: absolute;
    width: calc(100% - 1.5rem);
    max-width: 58rem;
    background-color: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: transform 0.3s $timing-func-ui;

    #{$self}.active & {
      transform: translateX(0);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: {
      top: 1.5rem;
      left: 1.5rem;
      right: 1.5rem;
    }

    @include respond-to("medium") {
      padding: {
        top: 3.5rem;
        left: 3.5rem;
        right: 3.5rem;
      }
    }
  }

  %cart-head {
    display: inline-block;
  }

  &__heading {
    @extend %cart-head;
    font-size: $text-lg;
    margin: 0;
  }

  &__clear {
    @extend %cart-head;
    margin-left: 1rem;
    margin-right: auto;
    font-size: $text-sm;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  &__close {
    @extend %round-button;
  }

  &__content {
    padding: 2rem 1.5rem;
    flex-grow: 1;

    @include respond-to("medium") {
      padding: 2rem 3.5rem;
    }
  }

  &__product {
    display: grid;
    margin-bottom: 3rem;
    height: 11rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    font-size: $text-sm;
    font-weight: 400;
    transform: translateX(50%);
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "t t t t t t t t t p p p"
    "g g g g g g g g g c c c"
    "s s s s s s s s s c c c"
    "q q q q q q q q q q r r"
    "q q q q q q q q q q r r"
    "q q q q q q q q q q r r";

    & > span:first-child {
      grid-area: i;
      display: none !important;

      @include respond-to("small") {
        display: inline-block !important;
        border: 0.1rem solid #dfdfdf !important;
        width: 11rem !important;
        height: 11rem;
      }
    }

    @include respond-to("small") {
      row-gap: 0rem;
      grid-template-areas:
        "i i i t t t t t t p p p"
        "i i i g g g g g g c c c"
        "i i i s s s s s s c c c"
        "i i i q q q q q q q r r"
        "i i i q q q q q q q r r"
        "i i i q q q q q q q r r";
    }

    @include respond-to("medium") {
      column-gap: 2rem;
    }

    #{$self}.active & {
      @include inline-animation(0.6s) {
        0% {
          transform: translateX(50%);
        }
        60% {
          transform: translateX(-10%);
        }
        100% {
          transform: translateX(0%);
        }
      }

      animation-delay: calc(var(--index) * 0.1s);
    }
  }

  &__product-image {
    padding: 0.5rem !important;
  }

  &__product-title {
    grid-area: t;
    font-weight: 600;
    font-size: $text-md;
    @extend %truncate;
  }

  &__product-gender {
    grid-area: g;
    color: $c-text-dark;
  }

  &__product-size {
    grid-area: s;
    font-weight: 300;
    padding-top: 0.5rem;
  }

  &__product-price {
    grid-area: p;
    align-self: end;
    font-size: $text-md;
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  &__product-cost {
    grid-area: c;
    font-size: $text-sm;
    color: $c-text-gray;
    font-weight: 300;
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  &__product-quantity {
    grid-area: q;
    justify-self: right;
    align-self: end;
  }

  &__product-remove {
    grid-area: r;
    font-size: $text-xs;
    padding: 0;
    height: 3rem;
    width: 9rem;
    align-self: end;
    justify-self: right;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  %cart-total {
    text-align: right;
    font-weight: 400;
    font-size: $text-sm;
    color: $c-text-dark;

    &-value {
      font-variant-numeric: tabular-nums;
      text-align: right;
      font-weight: 400;
      font-size: $text-md;
    }
  }

  &__total {
    @extend %cart-total;
    &-value {
      @extend %cart-total-value;
    }
  }

  &__sub-total {
    @extend %cart-total;
    &-value {
      @extend %cart-total-value;
    }
  }

  &__shipping {
    @extend %cart-total;
    &-value {
      @extend %cart-total-value;
    }
  }

  &__checkout {
    padding: {
      top: 1rem;
      bottom: 1.5rem;
      left: 1.5rem;
      right: 1.5rem;
    }
    position: sticky;
    bottom: 0rem;
    background: #fff;

    @include respond-to("medium") {
      padding: {
        top: 1rem;
        bottom: 3.5rem;
        left: 3.5rem;
        right: 3.5rem;
      }
    }

    &-button {
      width: 100%;
      font-size: $text-md;
      padding: 1rem 0;
    }
  }

  &__loader {
    position: absolute;
    @extend %full-size;
    background-color: #ffffffcc;
    display: flex;
    user-select: none;

    > span {
      margin: auto;
    }
  }
}
