@use "../abstracts" as *;

.dropdown {
  $self: &;

  width: 100%;
  max-width: 20rem;
  margin-bottom: 1.5rem;
  color: $c-text-black;
  font-weight: 400;
  position: relative;
  cursor: pointer;

  &__button {
    display: block;
    height: 3.2rem;
    position: relative;
  }

  &__value {
    @extend %text-input-field;
    background-color: #f3f3f3;

    #{$self}:focus & {
      border-color: $c-control-black;
    }
  }

  &__toggle-icon {
    @extend %text-input-icon;
    pointer-events: none;
  }

  &__menu {
    @extend %dropdown-menu;
    &--collapsed {
      @extend %dropdown-menu--collapsed;
    }
  }

  &__option {
    @extend %dropdown-option;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    column-gap: 1rem;
    display: flex;
    align-items: center;
  }
}
