@use '../abstracts' as *;

.language-currency {
	&__btn {
		white-space: nowrap;
		text-transform: uppercase;

		&:focus-visible {
			background-color: $c-text-gray;
			color: black;
		}

		padding: 0.5rem 1.5rem;
		box-shadow: inset 0 0 0 0.1rem $c-text-gray;
		border-radius: 2rem;
	}

	&__sep {
		vertical-align: baseline;
		margin: 0.2rem;
	}
}