@use '../abstracts' as *;

.language-currency {
	&__btn {
		text-transform: uppercase;

		&:focus-visible {
			background-color: $c-text-gray;
			color: black;
		}

		padding: 0.5rem 1.5rem;
		box-shadow: inset 0 0 0 0.1rem $c-text-gray;
		border-radius: 2rem;

		> span {
			vertical-align: text-bottom;
		}
	}
}