.logo {
  position: relative;

  &__subtext {
    color: white;
    display: block;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.4rem;
	font-weight: 600;
	position: absolute;
	font-style: italic;
	text-align: center;
	top: 3.8rem;
  }
}
