@use "../abstracts" as *;

.price-range {
  padding: 0 0.5rem;

  &__control {
    height: 1.2rem;
    margin: 1rem 0;
    position: relative;
  }

  &__input {
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding: 1rem 0;
  }

  &__range,
  &__bar {
    position: absolute;
    background-color: $c-control-black;
    display: block;
    left: 0;
    width: 100%;
    top: calc(50% - 0.2rem / 2);
    height: 0.2rem;
  }

  &__range {
    background-color: $c-gray;
  }

  &__min,
  &__max {
    display: inline-block;
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    background-color: $c-control-black;
    border-radius: 50%;
    left: 0;
    top: -0.3rem;
    cursor: grab;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__thumb--grabbing {
    cursor: grabbing;
  }

  &__max {
    left: calc(100% - 1.2rem * 2);
  }

  &__thumb--above {
    z-index: 1;
  }
}
