@use '../abstracts' as *;

.product {
	flex: 1 0 calc(50% - 1rem);
	font-size: $text-sm;

	& > a { display: block; }

	& > a:focus-visible {
		outline: 0.2rem solid $c-red;
		outline-offset: 1rem;
	}

	@include respond-to('small') {
		flex: 1 0 calc(25% - 1rem);
	}

	@include respond-to('medium') {
		&__actions {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10%);
		}

		&:hover &__actions {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	&__image {
		position: relative;
		padding-bottom: 60.5%;
	}

	&__tag {
		position: absolute;
		top: 2rem;
		left: 2rem;
		background-color: $c-red;
		color: #fff;
		text-transform: uppercase;
		padding: 0.2rem 0.8rem;
		font-weight: 400;
		border-radius: 0.5rem;

		&::before {
			content: "";
			width: 0;
			height: 0;
			display: block;
			border-right: 0.6rem solid $c-red;
			border-top: 0.5rem solid transparent;
			border-bottom: 0.5rem solid transparent;
			position: absolute;
			left: -0.5rem;
			top: 50%;
			transform: translateY(-50%);
		}

		&::after {
			content: "";
			width: 0.3rem;
			height: 0.3rem;
			display: block;
			background: #fff;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__actions {
		position: absolute;
		top: 1rem;
		left: 1rem;
		right: 1rem;
		bottom: 1rem;
		font-size: 2.5rem;
		text-align: right;
		color: $c-text-dark;
		transition: opacity .3s, transform .3s, visibility .3s;

		> button {
			transition: background-color .3s;

			&:hover {
				background-color: #eee;
			}
		}
	}

	&__add-wishlist {
		padding: 0.5rem;
		height: 3.5rem;
		border-radius: 50%;
		background-color: #fff;

		&-icon {
			vertical-align: baseline;
		}
	}

	&__info {
		> * {
			margin: 0.6rem 0;
		}
	}

	&__type {
		font-weight: bold;
		text-transform: uppercase;
		color: #082a8a;
		font-size: $text-xs;
	}


	&__title {
		font-size: $text-md;
		font-weight: 400;
		margin: 0;
		color: $c-text-black;
	}

	&__price {
		color: $c-text-red;

		& .product__currency {
			font-weight: bold;
		}

		& .product__amount {
			font-weight: bold;
		}

		& .product__discount-percentage {
			margin-left: 0.5rem;
		}
	}

	&__old-price {
		display: block;
		color: $c-text-dark;
		text-decoration: line-through;

		& .product__old-currency {
			font-weight: 300;
		}

		& .product__old-amount {
			font-weight: 300;
		}
	}

	&__rating {
		color: #ffd000;
	}

	&__amount {
		margin-left: 0.5rem;
	}
}