@use "../abstracts" as *;
$control-size: 1.7rem;

.radio-list {
  $self: &;

  width: 100%;
  margin-bottom: 1.5rem;

  &__legend {
    @extend %form-label;
    @extend %form-label-text;

    &-asterisk {
      @extend %form-label-asterisk;
    }
  }

  &__label {
    display: block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
  }

  &__control {
    width: $control-size;
    height: $control-size;
    appearance: none;
    vertical-align: middle;

    &:focus + #{$self}__button {
      &::after {
        opacity: 1;
      }
    }

    &:checked + #{$self}__button {
      &::before {
        transform: scale(1);
      }
    }

    &:checked + #{$self}__button {
      border-color: $c-control-black;

      &--checkbox {
        background-color: $c-control-black;

        &::before {
          transform: scale(1) rotate(45deg);
        }
      }
    }
  }

  &__button {
    position: relative;
    width: $control-size;
    height: $control-size;
    vertical-align: middle;
    margin-left: -$control-size;
    border: 0.1rem solid $c-control-gray;
    border-radius: 50%;
    display: inline-flex;
    transition: border-color 0.3s $timing-func-ui;

    &:hover::after {
      opacity: 1;
    }

    &::before {
      content: "";
      display: block;
      margin: auto;
      border-radius: 50%;
      width: 60%;
      height: 60%;
      background-color: $c-control-black;
      transform: scale(0);
      transition: transform 0.3s $timing-func-ui-pop;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(2);
      background-color: #00000012;
      border-radius: 50%;
      transition: opacity 0.3s $timing-func-ui;
      opacity: 0;
    }

    &--checkbox {
      border-radius: 0.2rem;

      &::before {
        border-radius: 0;
        width: 40%;
        height: 70%;
        background-color: $c-control-black;
        margin-bottom: 0.4rem;
        margin-left: 0.5rem;
        border-right: 0.3rem solid #fff;
        border-bottom: 0.3rem solid #fff;
        transform: scale(0) rotate(0deg);
      }
    }
  }

  &__text {
    margin-left: 1rem;
  }

  &__see-all{
    width: 100%;
    padding-top: 0.5rem;
    text-decoration: underline;
  }

  &__list--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    gap: 0.5rem;
  }
}
