@use "../abstracts" as *;

.size-guide {
  max-width: 80rem;
  overflow: auto;
  border: 0.1rem solid black;
  border-top: none;
  margin: auto;
  position: relative;

  table {
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    border-collapse: collapse;
    font-size: $text-sm;
  }

  thead {
    border-bottom: 0.1rem solid black;
  }

  th[scope="row"] {
    background-color: black;
    color: white;
    text-align: center;
    width: 6rem;
    min-width: 6rem;
    position: sticky;
    left: 0;
    z-index: 1;
  }

  th.hidden-cell {
    z-index: 0;
  }

  th,
  td {
    width: 9rem;
    min-width: 8rem;
    text-align: left;
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  th {
    font-weight: normal;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  td {
    font-variant-numeric: tabular-nums;
  }

  tbody tr td:nth-of-type(2n + 1) {
    background-color: #f2f2f2;
  }
}
