.social-links {
	$self: &;

	&--sm {
		font-size: 2.4rem;
	}

	&--md {
		font-size: 2.8rem;
	}

	&--lg {
		font-size: 3.2rem;
	}

	&__link + &__link {
		margin-left: 1rem;
	}

	&--vertical {
		text-align: center;

		#{$self}__link {
			display: block;
			margin: 0.5rem 0;
		}
	}
}

