@use '../abstracts' as *;

.social-links {
	$self: &;

	&--sm {
		font-size: 2.2rem;
	}

	&--md {
		font-size: 2.6rem;
	}

	&--lg {
		font-size: 3rem;
	}

	&__link {
		margin-right: 1rem;
	}

	&--vertical {
		text-align: center;

		#{$self}__link {
			display: block;
			margin: 0.8rem 0;
		}
	}
}

