@use '../abstracts' as *;

.banner {
	width: 100%;
	height: calc(100vh - $announcement-height - 5rem);
	margin-top: -$header-height;
	position: relative;

	&__container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	&__background {
		width: 100%;
		height: 100%;
		background-image: url("/assets/images/banner-bg-eindhoven.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom right;
	}

	&__main {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__content {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70%;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}

	&__headings {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&__secondary-text {
		font-size: $text-xs;
		font-style: italic;
		font-weight: 400;

		& span {
			color: $c-red;
		}
	}

	&__title {
		font-size: $text-xl;
		font-weight: bold;

		&-type {
			position: absolute;
			font-size: 20vw;
			font-weight: bold;
			font-style: italic;
			color: transparent;
			height: auto;
			max-width: 90rem;
			left: 0;
			right: 0;
			margin-top: -3rem;

			@supports (-webkit-text-stroke: 0.1rem  #cecece1f) {
				& {
				  -webkit-text-stroke: 0.1rem  #cecece1f;
				}
			}
		}
	}

	&__image {
		margin: 0 auto;
		margin-top: 22vh;
		width: calc(8rem + 12vh + 16vw);

		> span {
			overflow: visible !important;

			img {
				transform: rotate(-25deg);
			}
		}
	}

	&__action-button {
		position: absolute;
		bottom: 2.5rem;
		left: 0;
		right: 0;

		&-element {
			border-radius: 0.3rem;
			display: inline-block;
			border: 0.1rem solid #fff;
			padding-bottom: min(max(8%, 2rem), 4.5rem);
			padding-right: min(max(35%, 8rem), 23rem);
			width: 0;
			height: 0;
			position: relative;

			> span {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	&__indicators {
		position: absolute;
		top: 45%;
		right: 2rem;
		width: 1.2rem;
		color: #fff;
		text-align: center;
		z-index: 1;
	}

	&__indicator {
		font-size: 1.3rem;
		padding: 0.5rem 0;

		&--active {
			color: $c-red;
			transform: scale(1.5);
		}
	}

	&__social-links {
		position: absolute;
		bottom: 2rem;
		left: 1rem;
		width: 0;
		color: #fff;
		z-index: 1;
	}
}