@use '../abstracts' as *;

.collections {
	width: 100%;
	background-color: $c-background-dark;

	&__container {
		@extend %container;
		padding: $section-padding-v 0;
	}

	&__heading {
		@extend %section-heading;
		color: #fff;
	}

	&__sub-heading {
		color: $c-text-gray;
		font-size: $text-md;
		text-transform: capitalize;
		text-align: center;
	}

	&__grid {
		height: calc(60vw * 3);
		margin-top: 4rem;
		position: relative;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 1rem;

		@include respond-to('small') {
			// min-height: 60rem;
			max-height: 70rem;
			height: calc(25vw * 2);
			gap: 1.5rem;
		}
	}

	&__block {
		&-link {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}

		&:nth-of-type(1) {
			grid-area: 3 / 1 / 5 / 13;
		}

		&:nth-of-type(2){
			grid-area: 1 / 1 / 3 / 13;
		}

		&:nth-of-type(3){
			grid-area: 5 / 1 / 7 / 13;
		}

		@include respond-to('small') {
			&:nth-of-type(1) {
				grid-area: 1 / 7 / 5 / 13;
			}

			&:nth-of-type(2){
				grid-area: 5 / 7 / 7 / 13;
			}

			&:nth-of-type(3){
				grid-area: 1 / 1 / 7 / 7;
			}
		}

		&-image {
			object-fit: cover;
			transition: transform .6s cubic-bezier(0,0,.2,1);
		}

		& > a:focus-visible &-image,
		&:hover &-image {
			transform: scale(1.1);
		}

		&-content {
			position: absolute;
			top: 1rem;
			left: 1rem;
			right: 1rem;
			bottom: 1rem;
			color: black;
		}

		&-title {
			text-align: right;
			text-transform: uppercase;
			font-size: $text-xl;
			font-style: italic;
			mix-blend-mode: soft-light;
		}

		&-action-text {
			position: absolute;
			bottom: 0;
			font-weight: bold;
			font-variant: small-caps;

			& span {
				font-variant: small-caps;
				font-size: $text-lg;
				border-bottom: 0.2rem solid black;
			}

			@include link-arrow(black);
		}
	}
}