@use "../abstracts" as *;

.collections {
  width: 100%;
  background-color: $c-background-dark;

  &__container {
    @extend %container;
    padding: $section-padding-v 0;
  }

  &__heading {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-size: $text-lg;
  }

  &__sub-text {
    color: $c-text-gray;
    font-size: $text-md;
    margin-bottom: 1.4rem;
  }

  &__grid {
    height: calc(70vw * 3);
    margin-top: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include respond-to("medium") {
      flex-direction: row;
      max-height: 55rem;
      height: 28vw;
      gap: 1.5rem;
    }
  }

  &__block {
    flex: 1;

    @include respond-to("medium") {
      flex-basis: 20%;
      max-height: 47rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond-to("medium") {
        flex-basis: 40%;
      }
    }

    &-link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }

    &-image {
      object-fit: cover;
      object-position: 15%;
      transition: transform 0.6s $timing-func-img;
    }

    & > a:focus-visible &-image,
    &:hover &-image {
      transform: scale(1.1);
    }

    &:hover &-content {
      background-color: #00000022;
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1.5rem;
      color: #fff;
      background-color: #00000022;
      transform: background-color 0.3s $timing-func-img;

      @include respond-to("medium") {
        background-color: #00000044;
      }
    }

    &-title {
      text-align: left;
      text-transform: uppercase;
      font-size: $text-lg;
      font-style: italic;
    }

    &-action-text {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      font-weight: 600;
      font-variant: small-caps;
      white-space: nowrap;

      & span {
        font-variant: small-caps;
        font-size: $text-lg;
        border-bottom: 0.1rem solid #fff;
      }

      @include link-arrow(#fff);
    }
  }
}
