@use "../abstracts" as *;

.features {
  width: 100%;
  background-color: #f3f3f3;
  font-weight: 400;

  &__container {
    @extend %container;
    padding: $section-padding-v 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;

    @include respond-to("small") {
      text-align: left;
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__col {
    margin: 2.2rem 0;
    flex: 0 1 100%;
    overflow: unset;

    @include respond-to("small") {
      flex-basis: calc(50% - 1rem);
    }

    @include respond-to("medium") {
      margin: 0;
      flex-basis: calc(25% - 1rem);
    }
  }

  &__icon {
    font-size: 3.5rem;
    color: $c-red;
    transition: transform 0.3s $timing-func-ui;

    &:hover {
      transform: translateY(-15%);
    }

    &-element {
      box-sizing: content-box;
      border-radius: 50%;
      padding: 1.3rem;
      margin-bottom: 2rem;
      background-color: #fae2e7;
    }
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: $text-lg;
    font-style: italic;
    color: #111;
    @extend %truncate;
  }

  &__text {
    font-size: $text-md;
    color: #666;
  }
}
