@use '../abstracts' as *;

.features {
	width: 100%;
	background-color: #f6f6f6;
	font-weight: 400;

	&__container {
		@extend %container;
		padding: $section-padding-v 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: center;

		@include respond-to('small') {
			flex-direction: row;
			gap: 1rem;
		}
	}

	&__col {
		text-align: center;
		margin: 2.2rem 0;
		flex: 1;

		@include respond-to('small') {
			flex-basis: calc(50% - 1rem);
		}

		@include respond-to('medium') {
			margin: 0;
			flex-basis: calc(25% - 1rem);
		}
	}

	&__icon {
		font-size: 6rem;
		color: $c-red;

		&-element {
			width: 100%;
		}
	}

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		font-size: $text-lg;
		margin: 0;
		font-style: italic;
		@extend %text-overflow;
	}

	&__text {
		font-size: $text-md;
		color: $c-text-dark;
	}
}