@use '../abstracts' as *;

.footer {
	background-color: #000;

	&__container {
		@extend %container;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $section-padding-v 0;

		@include respond-to('small') {
			flex-direction: row;
			gap: 1rem;
		}
	}

	&__hr {
		background-color: #333;
		height: 0.1rem;
		margin: 4rem 0;
	}

	&__col {
		flex: 1;
		color: #fff;
		font-size: $text-sm;

		& + & {
			margin-top: 4rem;
		}

		&:nth-of-type(2),
		&:nth-of-type(3) {
			& a {
				transition: color .3s;

				&:hover {
					color: #fff;
				}
				@include link-hover($c-text-light, 0.1rem);
			}
		}

		& a:focus-visible {
			outline: 0.1rem solid #fff;
		}
	}

	&__logo {
		float: left;

		> a:focus-visible {
			opacity: 0.5;
		}
	}

	&__sub-heading {
		margin-top: 4rem;
		font-size: $text-md;

		&:first-of-type {
			margin-top: 8rem;
			clear: left;
		}
	}

	&__contact {
		margin-bottom: 1rem;
		display: table;

		&-icon {
			font-size: 2rem;
			margin-right: 1rem;
		}

		&-info {
			width: calc(100% - 3rem);
			display: block;
			float: right;
		}

		&-link[href] {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__link {
		color: $c-text-light;
		margin-bottom: 0.4rem;
	}

	&__heading {
		font-variant: small-caps;
		font-size: $text-lg;

		&::after {
			content: "";
			width: 2.5rem;
			height: 0.5rem;
			background-color: $c-red;
			margin-top: 1.4rem;
			display: block;
		}
	}

	&__payments {
		text-align: center;
		margin-top: 12rem;
	}

	& .newsletter {
		&__heading {
			font-size: $text-lg;
			text-transform: uppercase;
		}

		&__info {
			color: $c-text-light;
		}

		&__input {
			margin-top: 2rem;
			position: relative;

			&-box {
				width: 90%;
				padding: 1rem 0;
				background: none;
				border-bottom: 0.1rem solid #fff;
				transition: border-color .3s;

				&:focus,
				&:focus ~ .newsletter__input-submit {
					caret-color: $c-red;
					border-color: $c-red;
				}

				&:focus + .newsletter__input-placeholder {
					transform: scale(0.6) translateY(-2.5rem);
				}
			}

			&-placeholder {
				position: absolute;
				left: 0;
				padding-top: 1rem;
				pointer-events: none;
				user-select: none;
				text-transform: uppercase;
				font-style: italic;
				color: $c-text-gray;
				transform-origin: left;
				transition: transform .3s;
			}

			&-submit {
				width: 10%;
				padding: 1rem 0;
				border-bottom: 0.1rem solid #fff;
				text-align: right;
				padding-right: 0.5rem;
				transition: border-color .3s, color .3s;

				&:hover,
				&:focus-visible {
					color: $c-red;
				}

				&-icon {
					transform: scale(1.2);
				}
			}
		}

		&__disclaimer {
			font-size: $text-xs;
			color: $c-text-gray;
			margin-top: 2rem;

			& a {
				text-decoration: underline;
			}
		}
	}

	& .gutter {
		width: 100%;
		color: $c-text-gray;
		border-top: 0.1rem solid #333;

		&__container {
			@extend %container;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: nowrap;
			padding: 2rem 0 3rem 0;
			font-size: $text-sm;
			text-align: center;

			@include respond-to('small') {
				flex-direction: row;
				padding: 1rem 0;
			}
		}

		&__terms {
			margin: 0.8rem 0;

			& a:focus-visible {
				outline: 0.1rem solid #fff;
			}

			&-space {
				display: inline-block;
				width: 1.5rem;
			}

			&-link {
				text-decoration: underline;
			}
		}

		&__copy {
			order: -1;

			> small {
				position: relative;
				top: 25%;
			}

			@include respond-to('small') {
				order: 0;
			}
		}

		&__lang-currency {
			padding-top: 0.5rem;


			&-btn {
				&:focus-visible {
					background-color: $c-text-gray;
					color: black;
				}

				padding: 0.5rem 1.5rem;
				box-shadow: inset 0 0 0 0.1rem $c-text-gray;
				border-radius: 2rem;

				> span {
					vertical-align: text-bottom;
				}
			}
		}
	}
}