@use '../abstracts' as *;

.header {
	background-color: transparent;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&__container {
		@extend %container;
		height: $header-height;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		@include respond-to('medium') {
			height: $header-height-lg;
		}
	}

	&__logo {
		flex-basis: getWidth(8);
		overflow: hidden;

		& a {
			display: flex;
			height: 100%;
		}

		& img {
			margin: auto;
		}

		@include respond-to('small') {
			flex-basis: getWidth(4);

			& img {
				margin: auto 0;
			}
		}
	}

	&__nav {
		display: none;
		text-align: center;

		& nav {
			height: 100%;
			line-height: $header-height;

			@include respond-to('medium') {
				line-height: $header-height-lg;
			}
		}

		& ul {
			display: flex;
			justify-content: space-around;
		}

		@include respond-to('small') {
			display: block;
			flex-basis: getWidth(4);
		}
	}

	&__nav-link {
		display: inline-block;
		color: #fff;
	}

	&__buttons {
		flex-basis: getWidth(2);
		text-align: center;
		white-space: nowrap;

		@include respond-to('small') {
			flex-basis: getWidth(4);
			text-align: right;
		}
	}

	&__button {
		display: none;
		color: #fff;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 2.2rem;

		@include respond-to('small') {
			display: inline-flex;

			&:nth-of-type(n + 2) {
				margin-left: 2rem;
			}
		}

		@include respond-to('large') {
			font-size: 2.5rem;
		}

		& span {
			background-color: $c-red;
			border-radius: 50%;
			font-size: $text-xs;
			height: 1.7rem;
			width: 1.7rem;
			text-align: center;
			line-height: 1.7rem;
			position: absolute;
			margin-top: -1.7rem;
			margin-left: 2rem;

			@include respond-to('small') {
				height: 2rem;
				width: 2rem;
				line-height: 2rem;
				margin-top: -2rem;
			}

			@include respond-to('large') {
				height: 2.2rem;
				width: 2.2rem;
				line-height: 2.2rem;
				margin-top: -2.2rem;
			}
		}
	}

	&__button-cart {
		display: inline-flex;
	}

	&__menu-button {
		text-align: center;
		flex-basis: getWidth(2);

		@include respond-to('small') {
			display: none;
		}
	}

	&__menu-toggle {
		height: 100%;
		line-height: $header-height;
		font-size: 2.2rem;
		color: #fff;

		@include respond-to('medium') {
			line-height: $header-height-lg;
		}
	}
}