@use '../abstracts' as *;

.header {
	background-color: transparent;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&__container {
		@extend %container;
		height: 6.5rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	&__logo {
		flex-basis: getWidth(8);
		overflow: hidden;

		& a {
			display: flex;
			height: 100%;
		}

		& img {
			margin: auto;
		}
	}

	&__nav {
		display: none;
	}

	&__nav-links {
		display: inline-block;
	}

	&__buttons {
		flex-basis: getWidth(2);
		text-align: center;
		white-space: nowrap;
	}

	&__button {
		display: none;
		color: #fff;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 2.2rem;
		// display: inline-flex;

		&:nth-of-type(n + 2) {
			// margin-left: 2rem;
		}

		& span {
			background-color: $c-red;
			border-radius: 50%;
			font-size: $text-xs;
			height: 1.7rem;
			width: 1.7rem;
			text-align: center;
			line-height: 1.7rem;
			position: absolute;
			margin-top: -1.7rem;
			margin-left: 2rem;
		}
	}

	&__button-cart {
		display: inline-flex;
	}

	&__menu-button {
		text-align: center;
		flex-basis: getWidth(2);
	}

	&__menu-toggle {
		height: 100%;
		line-height: 6.5rem;
		font-size: 2.2rem;
		color: #fff;
	}
}