@use "../abstracts" as *;

.banner {
  $self: &;
  $banner-timing-func: cubic-bezier(0.63, 0.33, 0.45, 0.45);

  width: 100%;
  height: calc(100vh - 3rem);
  margin-top: calc(var(--header-height) * -1);
  position: relative;

  &--with-announcement {
    height: calc(100vh - $announcement-height - 3rem);
  }

  &--short {
    height: var(--header-height);
  }

  &__container {
    @extend %full-size;
  }

  &__background {
    width: 100%;
    height: 100%;
    background: {
      image: url("/assets/images/banner-bg-eindhoven.jpg");
      size: cover;
      repeat: no-repeat;
      position: top right;
    }
  }

  &__main {
    overflow: hidden;
    @extend %full-size;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
    transition: visibility 1s;

    &--active {
      visibility: visible;
    }

    @include respond-to("medium") {
      height: 60%;
    }
  }

  &__headings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    user-select: none;

    @include respond-to("x-small") {
      left: 10rem;
      right: 10rem;
    }

    @include respond-to("medium") {
      left: 15%;
      right: 15%;
    }

    @include respond-to("x-large") {
      left: 20%;
      right: 20%;
    }
  }

  &__secondary-text {
    font-size: $text-xs;
    font-style: italic;
    font-weight: 400;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.7s $banner-timing-func;

    #{$self}__content--active & {
      transition-delay: 0.3s;
      transform-origin: bottom;
      transform: scaleY(1);
    }

    & span {
      color: $c-red;
    }

    @include respond-to("x-small") {
      text-align: left;
    }

    @include respond-to("xx-large") {
      font-size: $text-lg;
    }
  }

  &__title {
    font-size: $text-xxl;
    font-weight: 700;
    overflow: hidden;

    > span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
      transition: transform 0.7s 0.3s $banner-timing-func,
        opacity 0.3s $banner-timing-func;
    }

    #{$self}__content--active & {
      > span {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    @include respond-to("x-small") {
      text-align: left;
    }

    @include respond-to("medium") {
      margin-top: 5rem;
    }

    @include respond-to("x-large") {
      margin-top: 6rem;
      font-size: calc(2rem + 2vw);
    }

    @include respond-to("xx-small-h") {
      margin-top: 2rem;
    }
  }

  &__title-type {
    position: absolute;
    font: {
      size: 16vw;
      weight: 900;
      style: italic;
    }
    color: #ffffff16;
    height: auto;
    max-width: 90rem;
    left: 0;
    right: 0;
    margin-top: -3rem;
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0.55, 1, 0.62, 1.09);

    & span {
      transition: opacity 0.4s $banner-timing-func;
      opacity: 0;
    }

    #{$self}__content--active & span {
      transition-delay: 0.35s;
      opacity: 1;
    }

    @supports (-webkit-text-stroke: 0.1rem #cecece2a) {
      & {
        -webkit-text-stroke: 0.1rem #cecece2a;
        color: transparent;
      }
    }

    @include respond-to("x-small") {
      text-align: left;
      margin-left: -3.5rem;
      margin-top: 4rem;
      font-size: 9.8vw;
    }

    @include respond-to("medium") {
      margin-left: -3rem;
      margin-top: -2rem;
      font-size: 12.5vw;
    }

    @include respond-to("large") {
      margin-left: -6rem;
      margin-top: 0rem;
      font-size: 11vw;
    }
  }

  &__image {
    margin: 0 auto;
    margin-top: 20vh;
    width: calc(8rem + 12vh + 15vw);
    transition: transform 0.5s cubic-bezier(0.55, 1, 0.62, 1.09);

    &-element {
      opacity: 0;
      transition: opacity 0.4s $banner-timing-func;
    }

    #{$self}__content--active &-element {
      transition-delay: 0.35s;
      opacity: 1;
    }

    > span {
      overflow: visible !important;

      img {
        transform: rotate(-25deg);
        user-select: none;
        -webkit-user-drag: none;
      }
    }

    @include respond-to("x-small") {
      margin-top: 0vh;
      float: right;
      margin-right: 5rem;

      > span img {
        transform: rotate(-25deg) scale(0.8);
      }
    }

    @include respond-to("medium") {
      margin-top: -8vh;
      width: calc(12rem + 12vh + 22vw);
    }

    @include respond-to("large") {
      margin-top: -10vh;
      width: calc(15rem + 15vh + 25vw);
      margin-right: 8rem;
    }

    @include respond-to("x-large") {
      margin-top: -9vh;
      width: calc(18rem + 15vh + 22vw);
      margin-right: 5rem;
    }

    @include respond-to("xx-large") {
      margin-right: 12rem;
    }

    @include respond-to("small-h") {
      width: calc(10rem + 10vh + 20vw);
    }
  }

  &__action-button {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;

    @include respond-to("x-small") {
      bottom: 15%;
      left: 10rem;
      right: auto;
    }

    @include respond-to("medium") {
      left: 15%;
    }

    @include respond-to("x-large") {
      left: 20%;
      bottom: 25%;
    }

    &-link {
      display: block;
      border: 0.1rem solid #fff;
      width: min(22rem, max(12%, 15rem));
      height: 4rem;
      position: relative;
      margin: auto;
      font-weight: 400;
      transition: color 0.3s $timing-func-ui,
        background-color 0.3s $timing-func-ui;

      &:focus-visible,
      &:hover {
        > span {
          color: #000;
        }
      }

      &:focus-visible::before,
      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      &::before {
        content: "";
        @extend %full-size;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
      }

      > span {
        @extend %full-size;
        @extend %center-content;
        position: absolute;
        font-size: $text-md;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  &__indicators {
    position: absolute;
    top: 45%;
    right: 2rem;
    width: 1.2rem;
    color: #fff;
    text-align: center;
    z-index: 1;
  }

  &__indicator {
    font-size: 1.3rem;
    padding: 0.5rem 0;

    > svg {
      transition: transform 0.3s;
    }

    &:focus-visible > svg,
    &:hover > svg {
      transform: scale(0.7);
    }

    &--active {
      color: $c-red;
      transform: scale(1.5);
    }
  }

  &__social-links {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 0;
    color: #fff;
    z-index: 1;

    @include respond-to("small-h") {
      bottom: 0rem;
      transform: scale(0.9);
    }

    @include respond-to("xx-small-h") {
      bottom: -1rem;
      transform-origin: bottom left;
      transform: scale(0.7);
    }
  }

  &__loader {
    position: relative;
    z-index: 100;
    top: 50%;

    &-spinner {
      margin: 0 auto;
    }
  }
}
