@use "../abstracts" as *;

.banner {
  $self: &;

  width: 100%;
  height: calc(100vh - 5rem);
  margin-top: calc(var(--header-height) * -1);
  position: relative;

  &--with-announcement {
    height: calc(100vh - $announcement-height - 5rem);
  }

  &--short {
    height: var(--header-height);
  }

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__background {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/banner-bg-eindhoven.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
  }

  &__main {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
    transition: visibility 1s;

    &--active {
      visibility: visible;
    }

    @include respond-to("medium") {
      height: 60%;
    }
  }

  &__headings {
    position: absolute;
    top: 0;
    left: 0rem;
    right: 0rem;
    user-select: none;

    @include respond-to("x-small") {
      left: 10rem;
      right: 10rem;
    }

    @include respond-to("medium") {
      left: 15%;
      right: 15%;
    }

    @include respond-to("x-large") {
      left: 20%;
      right: 20%;
    }
  }

  &__secondary-text {
    font-size: $text-xs;
    font-style: italic;
    font-weight: 400;

    transition: transform 1s;
    transform: scaleY(0);

    #{$self}__content--active & {
      transform: scaleY(1);
    }

    & span {
      color: $c-red;
    }

    @include respond-to("x-small") {
      text-align: left;
    }

    @include respond-to("xx-large") {
      font-size: $text-lg;
    }
  }

  &__title {
    font-size: $text-xxl;
    font-weight: 700;
    overflow: hidden;

    > span {
      display: inline-block;
      transform: translateY(100%);
      transition: transform 1s;
    }

    #{$self}__content--active & {
      > span {
        transform: translateY(0%);
      }
    }

    @include respond-to("x-small") {
      text-align: left;
    }

    @include respond-to("medium") {
      margin-top: 5rem;
    }

    @include respond-to("x-large") {
      margin-top: 6rem;
      font-size: calc(2rem + 2vw);
    }

    @include respond-to("xx-small-h") {
      margin-top: 2rem;
    }
  }

  &__title-type {
    position: absolute;
    font-size: 16vw;
    font-weight: 900;
    font-style: italic;
    color: #ffffff16;
    height: auto;
    max-width: 90rem;
    left: 0;
    right: 0;
    margin-top: -3rem;
    white-space: nowrap;
    transition: transform 0.6s ease-out, opacity 1s;
    opacity: 0;

    #{$self}__content--active & {
      opacity: 1;
    }

    @supports (-webkit-text-stroke: 0.1rem #cecece2a) {
      & {
        -webkit-text-stroke: 0.1rem #cecece2a;
        color: transparent;
      }
    }

    @include respond-to("x-small") {
      text-align: left;
      margin-left: -3.5rem;
      margin-top: 4rem;
      font-size: 9.8vw;
    }

    @include respond-to("medium") {
      margin-left: -3rem;
      margin-top: -2rem;
      font-size: 12.5vw;
    }

    @include respond-to("large") {
      margin-left: -6rem;
      margin-top: 0rem;
      font-size: 11vw;
    }
  }

  &__image {
    margin: 0 auto;
    margin-top: 20vh;
    width: calc(8rem + 12vh + 15vw);
    transition: transform 0.6s ease-out, opacity 1s;
    opacity: 0;

    #{$self}__content--active & {
      opacity: 1;
    }

    > span {
      overflow: visible !important;

      img {
        transform: rotate(-25deg);
        user-select: none;
        -webkit-user-drag: none;
      }
    }

    @include respond-to("x-small") {
      margin-top: 0vh;
      float: right;
      margin-right: 5rem;

      > span img {
        transform: rotate(-25deg) scale(0.8);
      }
    }

    @include respond-to("medium") {
      margin-top: -8vh;
      width: calc(12rem + 12vh + 22vw);
    }

    @include respond-to("large") {
      margin-top: -10vh;
      width: calc(15rem + 15vh + 25vw);
      margin-right: 8rem;
    }

    @include respond-to("x-large") {
      margin-top: -9vh;
      width: calc(18rem + 15vh + 22vw);
      margin-right: 5rem;
    }

    @include respond-to("xx-large") {
      margin-right: 12rem;
    }

    @include respond-to("small-h") {
      width: calc(10rem + 10vh + 20vw);
    }
  }

  &__action-button {
    position: absolute;
    bottom: 2.5rem;
    left: 0rem;
    right: 0rem;

    @include respond-to("x-small") {
      top: 40%;
      bottom: unset;
      text-align: left;
      left: 10rem;
      right: 10rem;
    }

    @include respond-to("medium") {
      position: relative;
      top: 12rem;
      left: 15%;
      right: 15%;
    }

    @include respond-to("large") {
      top: calc(14rem + 4vw);
    }

    @include respond-to("x-large") {
      left: 20%;
      right: 20%;
    }

    @include respond-to("xx-small-h") {
      top: 8rem;
    }

    &-link {
      display: inline-block;
      border: 0.1rem solid #fff;
      width: min(22rem, max(12%, 15rem));
      height: 4rem;
      position: relative;
      font-weight: 400;
      transition: color 0.3s $timing-func-ui,
        background-color 0.3s $timing-func-ui;

      &:focus-visible,
      &:hover {
        color: #000;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s;
      }

      > span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $text-md;

        @include respond-to("xx-large") {
          font-size: $text-lg;
        }
      }
    }
  }

  &__indicators {
    position: absolute;
    top: 45%;
    right: 2rem;
    width: 1.2rem;
    color: #fff;
    text-align: center;
    z-index: 1;
  }

  &__indicator {
    font-size: 1.3rem;
    padding: 0.5rem 0;

    > svg {
      transition: transform 0.3s;
    }

    &:focus-visible > svg,
    &:hover > svg {
      transform: scale(0.7);
    }

    &--active {
      color: $c-red;
      transform: scale(1.5);
    }
  }

  &__social-links {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 0;
    color: #fff;
    z-index: 1;

    @include respond-to("small-h") {
      bottom: 0rem;
      transform: scale(0.9);
    }

    @include respond-to("xx-small-h") {
      bottom: -1rem;
      transform-origin: bottom left;
      transform: scale(0.7);
    }
  }

  &__loader {
    position: relative;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);

    &-spinner {
      margin: 0 auto;

      :first-child {
        background-color: #fff !important;
      }

      :last-child {
        border-color: #fff !important;
      }
    }
  }
}
