@use '../abstracts' as *;

.products-section {
	width: 100%;

	&__container {
		@extend %container;
		padding: 5rem 0;
	}

	&__heading {
		@extend %section-heading;
		color: $c-text-black;
	}

	&__products-link {
		text-align: center;
		font-size: $text-sm;
		color: $c-text-dark;
		text-transform: uppercase;

		> a {
			border-bottom: 0.1rem solid $c-text-dark;
		}

		&::after {
			content: "";
			width: 0;
			height: 0;
			border-top: 0.5rem solid transparent;
			border-bottom: 0.5rem solid transparent;
			border-left: 0.5rem solid $c-text-dark;
			display: inline-block;
			margin-left: 0.5rem;
		}
	}

	&__products {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		padding: 5rem 0;
	}
}