@use '../abstracts' as *;

.products-section {
	width: 100%;
	background-color: #fff;

	&__container {
		@extend %container;
		padding: $section-padding-v 0 6rem 0;
	}

	&__heading {
		@extend %section-heading;
		color: $c-text-black;
	}

	&__products-link {
		text-align: center;
		font-size: $text-sm;
		color: $c-text-dark;
		text-transform: uppercase;

		> a {
			border-bottom: 0.1rem solid $c-text-dark;
		}

		@include link-arrow($c-text-dark);
	}

	&__products {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 5rem 0;
		gap: 1rem;

		@include respond-to('small') {
			gap: 1.5rem;
		}
	}
}