@use '../abstracts' as *;

.promo-banner {
	width: 100%;
	height: 3.5rem;
	background-color: #fff;
	color: $c-text-black;

	&__container {
		@extend %container;
		overflow: hidden;
		height: 100%;
	}

	&__content {
		height: 100%;
		font-size: $text-sm;
		font-weight: bold;
		line-height: 3.5rem;
		white-space: nowrap;
		text-align: center;
	}

	&__link, &__link[href], &__link:visited {
		color: $c-link;
		text-decoration: underline;
	}

	&__close {
		position: absolute;
		width: 3.5rem;
		height: 3.5rem;
		right: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $c-gray;
		background-color: #fff;
	}
}