@use "../abstracts" as *;

.results {
  display: flex;
  position: relative;

  &__container {
    width: 100%;
    margin-left: auto;
    background: #fff;
    padding-top: 3rem;

    @include respond-to("large") {
      &--filter {
        width: getWidth(9);
      }
    }
  }
}
