@use "../abstracts" as *;

.results {
  display: flex;
  position: relative;
  padding-bottom: 5rem;

  &__container {
    width: 100%;
    margin-left: auto;

    @include respond-to("medium") {
      &--filter {
        width: 75%;
      }
    }
  }

  &__grid {
    height: 80rem;
  }

  // ----

  &__pagination {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    overflow: hidden;
    color: $c-text-black;
    padding: 1rem;
    font-weight: 400;
    font-size: $text-sm;

    @include respond-to("medium") {
      // &--filter {
      //   width: 70%;
      // }
    }


    &-button {
      padding: 0 0.5rem;
      text-align: center;

      &--active {
        border-bottom: 0.2rem solid $c-text-black;
      }

      &--disabled {
        color: $c-text-gray;
      }
    }
  }
}
