@use "../abstracts" as *;

.results {
  display: flex;
  position: relative;
  padding-bottom: 5rem;

  &__container {
    width: 100%;
    margin-left: auto;

    @include respond-to("large") {
      &--filter {
        width: getWidth(9);
      }
    }
  }
}
