@use "../abstracts" as *;

.search {
  @extend %full-size;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.6s $timing-func-ui, visibility 0.6s;

  &--active {
    transform: translateY(0);
    visibility: visible;
  }

  &__container {
    width: calc(100% - 5rem);
    padding: 7rem 0;
    margin: auto;
    text-align: center;

    @include respond-to("small") {
      width: calc(100% - 20rem);
    }
  }

  &__close {
    position: fixed;
    font-size: 3rem;
    top: 1rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    color: $c-text-dark;

    &:hover {
      background-color: #eee;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $c-text-black;
    font-size: $text-lg;
  }

  &__input {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    position: relative;
    text-align: left;
  }

  &__trends {
    margin-top: 4rem;

    &-tag {
      background-color: #eee;
      padding: 0.2rem 0.6rem 0.3rem 0.6rem;
      margin: 0.3rem;
      font-weight: 400;
      font-variant: small-caps;

      &:hover {
        background-color: #ddd;
      }
    }

    &-title {
      margin-right: 0.5rem;
      font-style: italic;
    }
  }

  &__results-info {
    font-size: $text-xl;
    font-weight: 400;
    margin: 4rem 0 0 0;
    font-style: italic;
  }

  &__results {
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 14rem);
    min-height: 4rem;
    gap: 1.5rem;
    justify-content: center;
  }
}
