@use '../abstracts' as *;

.search {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;

	&__container {
		width: calc(100% - 5rem);
		padding: 7rem 0;
		margin: auto;
		text-align: center;

		@include respond-to('small') {
			width: calc(100% - 20rem);
		}
	}

	&__close {
		position: fixed;
		font-size: 3rem;
		top: 1rem;
		right: 2rem;
		width: 4rem;
		height: 4rem;
		line-height: 4rem;
		background-color: #fff;
		border-radius: 50%;
		color: $c-text-dark;
	}

	&__title {
		text-transform: uppercase;
		color: $c-text-black;
		font-size: $text-lg;
	}

	&__input {
		width: 80%;
		display: block;
		margin: auto;
		margin-top: 3rem;
		position: relative;
		text-align: left;

		// &-box,
		// &-icon {
		// 	border-bottom: 0.1rem solid #ddd;
		// }

		// &-box {
		// 	width: calc(100% - 4rem);
		// 	padding: 1rem;
		// }

		// &-icon {
		// 	position: absolute;
		// 	right: 0;
		// 	font-size: 2rem;
		// 	padding: 1rem 0;
		// 	width: 4rem;
		// 	height: 100%;
		// 	color: $c-text-dark;
		// 	background-color: #fff;
		// }
	}

	&__trends {
		margin-top: 4rem;

		&-tag {
			background-color: #eee;
			padding: 0.2rem 0.6rem 0.3rem 0.6rem;
			margin: 0.3rem;
			font-weight: 400;
			font-variant: small-caps;
		}

		&-title {
			margin-right: 0.5rem;
			font-style: italic;
		}
	}

	&__results-info {
		font-size: $text-xl;
		font-weight: 400;
		margin: 4rem 0 0 0;
		font-style: italic;
	}

	&__results {
		margin: auto;
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
		min-height: 4rem;
		gap: 1rem;
	}
}